{% extends "base.html" %}

		{% block content %}
		{% if current_user == menuItem.user_id %}
		<h1>Edit Item</h1>
		<form method="POST">
			<input name="name" value="{{menuItem.name}}">
			<textarea name="description"> {{menuItem.description}}</textarea>
			<input name="price" type="number" value="{{menuItem.price}}" class="input_price">
			<select name="course">
	  			<option value="Appetizer">Appetizer</option>
	  			<option value="Entree">Entree</option>
	  			<option value="Dessert">Dessert</option>
	 			<option value="Beverage">Beverage</option>
			</select>
			<button> Resubmit </button>
		</form>
		<a href="{{url_for('restaurantMenu', restaurant_id = menuItem.restaurant_id)}}"> Cancel</a>
		{% else %}
			<h3 class="errMsg"> You cannot delete an entry you don't own</h3>
			<a href="{{url_for('restaurants')}}"> Go home</a>
		{% endif %}
		{% endblock %}
